{% extends "base.html" %}

{% block content %}
    <h1>Create new user</h1>
    <form action="/users" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.role.label }}<br>
            {{ form.role(size=32) }}
        </p>

        <p>{{ form.submit() }}</p>

    </form>
{% endblock %}